<body>
  <header>
    <nav>
      <ul class="nav-right-section">
        <li>
          <a href="">Gmail</a>
        </li>
        <li>
          <a href="">Image</a>
        </li>
        <li class="menu-icon">
          <a href=""></a>
        </li>
        <li  class="profile-img">
          <a href="">
            <img src="https://lh3.googleusercontent.com/ogw/AOh-ky0m4OgjzOJ05Ef0V7H9oUBeOH3Si_EVmwYXv8fp=s32-c-mo" alt="">
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
